<div>
  <h2 id="page-heading" data-cy="AppUserHeading">
    <span jhiTranslate="umbrellaApp.appUser.home.title">AppUsers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="umbrellaApp.appUser.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-app-user"
        [routerLink]="['/app-user/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="umbrellaApp.appUser.home.createLabel">Créer un nouveau App User</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (appUsers?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="umbrellaApp.appUser.home.notFound">Aucun App User trouvé</span>
    </div>
  }

  @if (appUsers && appUsers.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="umbrellaApp.appUser.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="username">
              <div class="d-flex">
                <span jhiTranslate="umbrellaApp.appUser.username">Username</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="password">
              <div class="d-flex">
                <span jhiTranslate="umbrellaApp.appUser.password">Password</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="photo">
              <div class="d-flex">
                <span jhiTranslate="umbrellaApp.appUser.photo">Photo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isAdmin">
              <div class="d-flex">
                <span jhiTranslate="umbrellaApp.appUser.isAdmin">Is Admin</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="creationDate">
              <div class="d-flex">
                <span jhiTranslate="umbrellaApp.appUser.creationDate">Creation Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="contact.id">
              <div class="d-flex">
                <span jhiTranslate="umbrellaApp.appUser.contact">Contact</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (appUser of appUsers; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/app-user', appUser.id, 'view']">{{ appUser.id }}</a>
              </td>
              <td>{{ appUser.username }}</td>
              <td>{{ appUser.password }}</td>
              <td>
                @if (appUser.photo) {
                  <a (click)="openFile(appUser.photo, appUser.photoContentType)" jhiTranslate="entity.action.open">Ouvrir</a>
                  <span>{{ appUser.photoContentType }}, {{ byteSize(appUser.photo) }}</span>
                }
              </td>
              <td>{{ appUser.isAdmin }}</td>
              <td>{{ appUser.creationDate | formatMediumDatetime }}</td>
              <td>
                @if (appUser.contact) {
                  <div>
                    <a [routerLink]="['/contact', appUser.contact.id, 'view']">{{ appUser.contact.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/app-user', appUser.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/app-user', appUser.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(appUser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (appUsers && appUsers.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
