<div>
  <h2 id="page-heading" data-cy="NotificationHeading">
    <span jhiTranslate="umbrellaApp.notification.home.title">Notifications</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="umbrellaApp.notification.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-notification"
        [routerLink]="['/notification/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="umbrellaApp.notification.home.createLabel">Créer un nouveau Notification</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (notifications?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="umbrellaApp.notification.home.notFound">Aucun Notification trouvé</span>
    </div>
  }

  @if (notifications && notifications.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="umbrellaApp.notification.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="title">
              <div class="d-flex">
                <span jhiTranslate="umbrellaApp.notification.title">Title</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="umbrellaApp.notification.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="creationDate">
              <div class="d-flex">
                <span jhiTranslate="umbrellaApp.notification.creationDate">Creation Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="readDate">
              <div class="d-flex">
                <span jhiTranslate="umbrellaApp.notification.readDate">Read Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hide">
              <div class="d-flex">
                <span jhiTranslate="umbrellaApp.notification.hide">Hide</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="author.id">
              <div class="d-flex">
                <span jhiTranslate="umbrellaApp.notification.author">Author</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="receiver.id">
              <div class="d-flex">
                <span jhiTranslate="umbrellaApp.notification.receiver">Receiver</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (notification of notifications; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/notification', notification.id, 'view']">{{ notification.id }}</a>
              </td>
              <td>{{ notification.title }}</td>
              <td>{{ notification.description }}</td>
              <td>{{ notification.creationDate | formatMediumDatetime }}</td>
              <td>{{ notification.readDate | formatMediumDatetime }}</td>
              <td>{{ notification.hide }}</td>
              <td>
                @if (notification.author) {
                  <div>
                    <a [routerLink]="['/employee', notification.author.id, 'view']">{{ notification.author.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (notification.receiver) {
                  <div>
                    <a [routerLink]="['/employee', notification.receiver.id, 'view']">{{ notification.receiver.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/notification', notification.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/notification', notification.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(notification)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (notifications && notifications.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
