<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (client()) {
      <div>
        <h2 data-cy="clientDetailsHeading"><span jhiTranslate="umbrellaApp.client.detail.title">Client</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="umbrellaApp.client.id">Id</span></dt>
          <dd>
            <span>{{ client()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="umbrellaApp.client.name">Name</span></dt>
          <dd>
            <span>{{ client()!.name }}</span>
          </dd>
          <dt><span jhiTranslate="umbrellaApp.client.companyStatus">Company Status</span></dt>
          <dd>
            <span>{{ client()!.companyStatus }}</span>
          </dd>
          <dt><span jhiTranslate="umbrellaApp.client.address">Address</span></dt>
          <dd>
            @if (client()!.address) {
              <div>
                <a [routerLink]="['/address', client()!.address?.id, 'view']">{{ client()!.address?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/client', client()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
