<div>
  <h2 id="page-heading" data-cy="ExpenseNoteHeading">
    <span jhiTranslate="umbrellaApp.expenseNote.home.title">ExpenseNotes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="umbrellaApp.expenseNote.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-expense-note"
        [routerLink]="['/expense-note/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="umbrellaApp.expenseNote.home.createLabel">Créer un nouveau Expense Note</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (expenseNotes?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="umbrellaApp.expenseNote.home.notFound">Aucun Expense Note trouvé</span>
    </div>
  }

  @if (expenseNotes && expenseNotes.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="umbrellaApp.expenseNote.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="label">
              <div class="d-flex">
                <span jhiTranslate="umbrellaApp.expenseNote.label">Label</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="concernedMonth">
              <div class="d-flex">
                <span jhiTranslate="umbrellaApp.expenseNote.concernedMonth">Concerned Month</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="creationDate">
              <div class="d-flex">
                <span jhiTranslate="umbrellaApp.expenseNote.creationDate">Creation Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="submitDate">
              <div class="d-flex">
                <span jhiTranslate="umbrellaApp.expenseNote.submitDate">Submit Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="validationDate">
              <div class="d-flex">
                <span jhiTranslate="umbrellaApp.expenseNote.validationDate">Validation Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="mileageAllowance.id">
              <div class="d-flex">
                <span jhiTranslate="umbrellaApp.expenseNote.mileageAllowance">Mileage Allowance</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="document.id">
              <div class="d-flex">
                <span jhiTranslate="umbrellaApp.expenseNote.document">Document</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="employee.id">
              <div class="d-flex">
                <span jhiTranslate="umbrellaApp.expenseNote.employee">Employee</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (expenseNote of expenseNotes; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/expense-note', expenseNote.id, 'view']">{{ expenseNote.id }}</a>
              </td>
              <td>{{ expenseNote.label }}</td>
              <td>{{ expenseNote.concernedMonth }}</td>
              <td>{{ expenseNote.creationDate | formatMediumDate }}</td>
              <td>{{ expenseNote.submitDate | formatMediumDatetime }}</td>
              <td>{{ expenseNote.validationDate | formatMediumDatetime }}</td>
              <td>
                @if (expenseNote.mileageAllowance) {
                  <div>
                    <a [routerLink]="['/mileage-allowance', expenseNote.mileageAllowance.id, 'view']">{{
                      expenseNote.mileageAllowance.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (expenseNote.document) {
                  <div>
                    <a [routerLink]="['/document', expenseNote.document.id, 'view']">{{ expenseNote.document.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (expenseNote.employee) {
                  <div>
                    <a [routerLink]="['/employee', expenseNote.employee.id, 'view']">{{ expenseNote.employee.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/expense-note', expenseNote.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/expense-note', expenseNote.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(expenseNote)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (expenseNotes && expenseNotes.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
